/* sideber css style */
/*======================== manhood WIDGET CSS =========================*/
/* sidebar css */
/* serch widget */

/*blog list*/ 


.dreamit-single-blog-box {
    margin-bottom: 40px;
    transition: .3s;
    background: #fff;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    border-radius: 7px;
}
.dreamit-single-blog-box:hover {
    box-shadow: 6px 5px 30px rgb(0 0 0 / 12%);
}
.dreamit-sigle-tmumb img {
    width: 100%;
}
.em-blog-content {
    padding: 26px 35px 13px;
}
.meta-blog {
    float: left;
    margin-right: 14px;
}
.meta-blog a {
    color: #616161;
    margin-right: 25px;
    transition: .3s;
    position: relative;
    font-weight: 500;
}
.meta-blog a:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background: #616161;
    top: 6px;
    right: -15px;
}
.meta-blog a:hover {
    color: #F16722;
}
.meta-blog-right a {
    position: relative;
    color: #616161;
    font-weight: 500;
    margin-left: 15px;
}
.meta-blog-right a:hover {
    color: #F16722;
}
.meta-blog-right a:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background: #616161;
    top: 5px;
    margin: auto;
    left: -15px;
}
.blog-page-title h2 {
    font-size: 30px;
    margin: 11px 0 20px;
}
.blog-page-title a {
    font-weight: 800;
    color: #232323;
    transition: .3s;
}
.blog-page-title h2 a:hover {
    color: #F16722;
}
.meta-blog1 {
    float: left;
    margin-right: 14px;
}
.meta-blog1 a {
    color: #616161;
    margin-right: 25px;
    transition: .3s;
    position: relative;
    font-weight: 500;
}
.meta-blog1 a:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background: #616161;
    top: 6px;
    right: -15px;
}
.meta-blog1 a:hover {
    color: #F16722;
}
.meta-blog span:hover {
    color: #F16722;
}
.blog-page-title1 h2 {
    font-size: 21px;
    margin: 37px 0 19px;
}
.blog-page-title1 h2 a {
    font-weight: 800;
    display: block;
}
.blog-page-title1 h2 a:hover {
    color: #F16722;
}
.search {
    padding: 35px 30px 35px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    margin-bottom: 40px;
}
input[type="text"] {
    background: #fff none repeat scroll 0 0;
    height: 60px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding-left: 10px;
    color: #616161;
    width: 100%;
    position: relative;
}
button.icons {
    background: transparent none repeat scroll 0 0;
    border: 0;
    font-size: 18px;
    color: #616161;
    padding: 1px 15px;
    position: absolute;
    right: 44px;
    top: 66px;
    transform: translateY(-50%);
    height: 100%;
    width: 53px;
}
.widget-sidebar-box {
    padding: 35px 30px 35px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 40px;
    border-radius: 8px;
}
.widget-sidebar-title h2 {
    color: #232323;
    font-size: 21px;
    position: relative;
    display: block;
    margin: 0;
}
.popular-post-box-inner {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 14px;
    padding-bottom: 5px;
}
.popular-post-thumb {
    margin-right: 25px;
}
.popular-post-content a {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    display: inline-block;
    color: #232323;
}
.popular-post-content span {
    display: block;
    color: #212529;
    font-size: 14px;
}
.widget-sidebar-box-two {
    padding: 35px 30px 18px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 40px;
}
.categories-content ul li {
    list-style: none;
    border-top: 1px solid #eaedff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.categories-content ul li a {
    color: #616161;
}
.Tags-Cloud-title a {
    display: inline-block;
    color: #616161;
    font-size: 15px;
    font-weight: 500;
    margin: 0 2px 8px 0;
    padding: 2px 10px;
    background: #fff;
    text-transform: capitalize;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.Tags-Cloud-title a:hover {
    background: #F16722;
    color: #fff;
}
.popular-post-content a:hover {
    color: #F16722;
}
.categories-content ul li a:hover {
    color: #F16722;
}
.wp-block-quote {
    padding: 20px 30px;
    font-size: 19px;
    border-left: 4px solid #F16722;
    color: #232;
    font-weight: 400;
    position: relative;
    line-height: 1.5;
    background: #F1F6FC;
    font-style: italic;
}
.kc-block-quote-title h4 {
    margin-bottom: 20px;
    font-weight: 800;
}
.kc-block-quote-title ul {
    margin-bottom: 10px;
    list-style-type: square;
    padding-left: 18px;
}
.softech-blog-socails.pt-40 {
    border-top: 1px solid #e6e6e6;
    margin-top: 40px;
    margin-bottom: 30px;
}
.softech-socail-icon a i {
    display: inline-block;
    border: 1px solid #e6e6e6;
    font-size: 15px;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 41px;
    margin: 0 4px 0 0px;
    border-radius: 5px;
    color: #565872;
    transition: .5s;
}
.softech-socail-icon a i:hover {
    background: #fc4a1a;
    border: #fc4a1a;
    color: #fff;
}
.portfolio-thumb img {
    width: 100%;
}
.team-details-title h3 {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 25px;
}
.team-details-informaton-inner ul {
    display: inline-block;
    list-style: none;
}
.team-details-informaton-inner ul li {
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
}
.row.bd-background {
    overflow: hidden;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    padding: 65px 50px 65px;
}
.block-quite {
    padding: 20px 30px;
    font-size: 19px;
    border-left: 4px solid #F16722;
    color: #232;
    font-style: italic;
    font-weight: 400;
    background: #F1F6FC;
    margin-bottom: 30px;
}
.kc-portfolio-title h2 {
    font-size: 27px;
    font-weight: 800;
    padding: 10px 0 26px;
}
.portfolio-content-details-box {
    padding: 25px 0 0;
}
